body {
  background-color: azure;
}


.sideMenu {
  width           : 250px;
  height          : 100%;
  background-color: rgb(129, 129, 129);
  position        : fixed;
  overflow        : auto;
  border          : none;
  top             : 0%;
  left            : 0%
}

.content {
  margin-left: 250px;     /* Same as the width of the sidebar */
  padding    : 0px 10px;
}

.menuButton {
  width          : 100%;
  font-size      : 24px;
  cursor         : pointer;
  text-align     : center;
  text-decoration: none;
  outline        : none;
  padding        : 15px;
}

.dropdown-container{
  display           : none;
  width             : 85%;
  height            : auto;
  right             : 0;
  animation-duration: 1s;
  animation-name    : dropdown;
  float             : right;
  overflow          : hidden;
}

.dropdown-container .menuButton {
  font-size     : 24px;
}

.button {
  transition-duration: 0.4s;
  display            : inline-block;
  padding            : 15px 25px;
  font-size          : 24px;
  cursor             : pointer;
  text-align         : center;
  text-decoration    : none;
  outline            : none;
  color              : #fff;
  background-color   : #4CAF50;
  border             : none;
  border-radius      : 15px;
  box-shadow         : 0 9px #999;
}
  
.button:hover {
  background-color: #3e8e41;
  transform       : translateY(-2px);
  box-shadow      : 0 11px #999;
}
  
.button:active {
    
  background-color: #3e8e41;
  box-shadow      : 0 5px #666;
  transform       : translateY(4px);
}
  
  
  